footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  padding: em(25) 0;
  background-color: $blueColor;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    @include background;
    background-image: url("../images/footer-dot-img.png");
    background-position: 0 0;
    background-size: 100%;
    width: 43%;
    max-width: 538px;
  }

  .container {
    max-width: 90%;
    margin: 0 0 0 auto;
    @include media(desktop) {
      & {
          max-width: 64%;
      }
    };
  }

  &.no-graphic {
    &:before {
      display: none;
    }

    .container {
      max-width: 100%;
      margin: 0 auto;
    }
  }

  .footer-inner {
    width: 100%;
    max-width: 625px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h6 {
      font-size: em(18);
      color: $whiteColor;
      margin-bottom: em(3);
      @include letter-spacing(30);

      a {
        color: $whiteColor;
        opacity: 1;

        &:focus,
        &:hover {
          opacity: 0.6;
        }
      }
    }

    p {
      font-size: em(14);
      color: $whiteColor;
      margin-bottom: em(3);
      @include letter-spacing(30);
    }

    ul {
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      li {
        color: $whiteColor;
        font-size: em(14);
        display: inline-block;
        @include letter-spacing(30);

        a {
          color: $whiteColor;
          opacity: 1;

          &:focus,
          &:hover {
            opacity: 0.6;
          }
        }
      }
    }

    .social-links {
      a {
        display: inline-block;
        vertical-align: middle;
        margin-left: 5px;

        &:hover {
          animation: rubberBand 1.2s ease-in-out;
        }
      }
    }
  }
}

.stkyFooter {
  footer {
    background-image: none;
  }
}
