header {
  display: block;
  width: 100%;
  position: relative;
  z-index: 999;
  padding-top: 50px;
  @include media(desktop) {
    & {
      padding-top: 20px;
    }
  };

  .navbar {
    border: none;
    border-radius: 0;
    min-height: 1px;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    .navbar-brand {
      padding: 0;
      margin: 0;
    }

    .navbar-collapse {
      position: relative;
      top: -10px;

      .navbar-nav,
      ul {
        margin: 0 auto;
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;

        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          height: 5px;
          left: 16px;
          right: -17px;
          background: #f68421;
          background: $orangeColor;
          transform: skewX(30deg);
          z-index: 1;
        }

        li.nav-item {
          background: $blueColor;
          transform: skewX(30deg);
          transform-origin: center;
          display: inline-table;
          overflow: hidden;
          margin-right: 0;
          border-right: solid 1px #81add4;
          position: relative;
          z-index: 6;

          .nav-link,
          a {
            width: calc(100% + 24px);
            margin-left: -12px;
            transform: skewX(-30deg);
            transform-origin: center;
            padding: em(7) em(19) em(9);
            background: $blueColor;
            text-align: center;
            font-family: $verdanaBold;
            font-size: em(18);
            text-transform: uppercase;
            color: $whiteColor;
            line-height: 1;

            &:focus,
            &:hover {
              background: $greenColor;
              color: $whiteColor;
            }
          }

          &.active{
            a, .nav-link{
              background: $greenColor;
              color: $whiteColor;
            }
          }

          &.nav-item-logo {
            background: $orangeColor;
            margin-right: 3px;
            border-right: none;

            .nav-link,
            a {
              padding: em(12.5) em(18) em(14);
              text-transform: none;
              background: $orangeColor;
              font-size: em(17);
              font-family: $verdanaBold;


              &:focus,
              &:hover {
                background: $hoverOrange;
                color: $whiteColor;
              }
            }
          }
        }
      }
    }

    .nav-mail {
      display: block;
      width: 64px;
      height: 42px;
      position: relative;
      top: -17px;

      a {
        display: block;
        position: relative;
        height: 100%;
        width: 100%;

        svg {
          display: block;
          height: 100%;
          width: 100%;
          fill: $blueColor;
          @include transition;
        }

        &:hover {
          svg {
            fill: $greenColor;
          }
        }

        &[aria-expanded="true"]{
          svg {
            fill: $greenColor;
          }
        }

      }

      & {
        a {
          &:after {
            display: none;
          }
        }
      }

      .dropdown-menu {
        min-width: 400px;
        right: 0;
        left: auto;
        padding: 20px;
        border-radius: 0;
        margin-top: 15px;
        position: absolute;
        background: url('../images/green-border.png') no-repeat;
        background-size: 100% 100%;
        box-shadow: none;
        border: none;

        .contact-top {
          background: $lightGreenColor;
          padding: 5px 28px 5px 15px;
          margin-bottom: 10px;

          h3 {
            font-size: 14px;
            color: $whiteColor;
            font-family: $verdanaBold;
            margin-bottom: em(1);
            transform: skewX(30deg);
            transform-origin: center;
            background: $greenColor;
            display: inline-block;
            position: relative;
            top: -6px;
            left: -7px;

            span {
              display: block;
              transform: skewX(-30deg);
              transform-origin: center;
              padding: em(5) em(40) em(6);
            }
          }

          p {
            font-size: em(12);
            font-family: $arial;
            line-height: 1.2;
          }
        }

        .form-group {
          background: $lightGreenColor;
          padding: 5px 28px 5px 15px;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: space-between;
          margin-bottom: 10px;

          &:last-of-type {
            margin-bottom: 0;
          }

          label {
            font-size: em(13);
            font-family: $arial;
            width: 150px;
            margin: 0;
          }

          .form-control {
            width: 100%;
            border-radius: 0;
            border: none;
            padding: 1px 8px;
            font-size: em(11);
            font-family: $arial;
            height: 22px;
            color: #000;


            &:focus {
              box-shadow: none;
              outline: none;
              border-color: $blueColor;
            }
            @include placeholder {
              color: #000;
            }
          }

          textarea.form-control {
            height: 135px;
            resize: none;
            padding-top: 5px;
            background:#fff url('../images/textarea-top.png') no-repeat;
            background-position: 101% 0%;
            background-size: auto;
          }
        }

        .btn {
          font-size: em(13);
          text-transform: capitalize;
          position: absolute;
          bottom: 25px;
          left: 40px;
        }
      }
    }
  }
}
