@mixin transition {
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
@mixin hover {
  &:focus,
  &:hover {
    background: $hoverBgColor;
    color: $whiteColor;
    border-color: $hoverBgColor;
  }
}
@mixin background($image:none, $size:cover) {
  background-image: url($image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: $size;
}
@mixin gap($size) {
  height: $size;
}
@mixin circle($size) {
  height: $size;
  width: $size;
  border-radius: 100%;
}
@mixin fullCover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
@mixin btn {
  display: inline-block;
  line-height:em(25);
  padding: em(1) em(25) em(3);
  border-radius: 0;
  box-shadow: none;
  text-transform: capitalize;
  font-family: $verdanaBold;
  font-weight: normal;
  font-size: em(29);
  @include letter-spacing(30);
  cursor: pointer;
  border: none;
  @include transition;
  background: $blackColor;
  color: $whiteColor;
}
@mixin translateY {
  transform: translateY(-50%);
}
@mixin media($point) {
  @if $point == desktop {
    @media only screen and (max-width:1499px) {
      @content;
    }
  }
  @if $point == iPadLand {
    @media only screen and (max-width:1199px) {
      @content;
    }
  } @else
  if $point == iPad {
    @media only screen and (max-width: 991px) {
      @content;
    }
  } @else
  if $point == mobile {
    @media only screen and (max-width: 767px) {
      @content;
    }
  } @else
  if $point == mobile-s {
    @media only screen and (max-width: 479px) {
      @content;
    }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }

  &:-moz-placeholder {
    @content;
  }

  &::-moz-placeholder {
    @content;
  }

  &:-ms-input-placeholder {
    @content;
  }
}

//Font EM

$base-font-size: 15; // base font size for em to px conversion
@function em($pixels, $context: $base-font-size) {
   @return #{$pixels/$context}em;
}

//Letter spacing
@mixin letter-spacing($ps-tracking){
    letter-spacing: #{ $ps-tracking / 1000 }em;

}
