@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/assets/owl.carousel.min.css');

@font-face {
  font-family: 'Arial-BoldMT';
  src: url('../fonts/arial-bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/arial-bold.woff') format('woff'), url('../fonts/arial-bold.ttf')  format('truetype'), url('../fonts/arial-bold.svg#Arial-BoldMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arial-ItalicMT';
  src: url('../fonts/arial-italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/arial-italic.woff') format('woff'), url('../fonts/arial-italic.ttf')  format('truetype'), url('../fonts/arial-italic.svg#Arial-ItalicMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArialMT';
  src: url('../fonts/arial.eot?#iefix') format('embedded-opentype'),  url('../fonts/arial.woff') format('woff'), url('../fonts/arial.ttf')  format('truetype'), url('../fonts/arial.svg#ArialMT') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verdana';
  src: url('../fonts/verdana.eot?#iefix') format('embedded-opentype'),  url('../fonts/verdana.woff') format('woff'), url('../fonts/verdana.ttf')  format('truetype'), url('../fonts/verdana.svg#Verdana') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verdana-Bold';
  src: url('../fonts/verdana-bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/verdana-bold.woff') format('woff'), url('../fonts/verdana-bold.ttf')  format('truetype'), url('../fonts/verdana-bold.svg#Verdana-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verdana-BoldItalic';
  src: url('../fonts/verdana-bold-italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/verdana-bold-italic.woff') format('woff'), url('../fonts/verdana-bold-italic.ttf')  format('truetype'), url('../fonts/verdana-bold-italic.svg#Verdana-BoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Verdana-Italic';
  src: url('../fonts/verdana-italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/verdana-italic.woff') format('woff'), url('../fonts/verdana-italic.ttf')  format('truetype'), url('../fonts/verdana-italic.svg#Verdana-Italic') format('svg');
  font-weight: normal;
  font-style: normal;
}



html,
body {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    // -webkit-text-stroke: rgba(255, 255, 255, 0.01) 0.1px;
    -webkit-font-smoothing: antialiased !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    font-weight: normal;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

input,
textarea,
select {
    font-weight: normal;
}

* {
    outline: none;
}

* {
    box-sizing: border-box;
}

select::-ms-expand {
    display: none;
}

::selection {
    background: #d85043;
    color: #fff;
}

input,
select,
textarea {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.clearfix {
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
}

figure {
    margin: 0;
}
