$bodyFont: 'ArialMT';
$bodyBgColor: #fff;
$bodyFontSize: 15px;
$bodyWeight: 400;
$bodyFontColor:#231F20;

/** Paragraph Font Style **/

$arial:'ArialMT';
$arialBold:'Arial-BoldMT';
$arialItalic:'Arial-ItalicMT';

$verdana:'Verdana';
$verdanaBold:'Verdana-Bold';
$verdanaItalic:'Verdana-Italic';
$verdanaBoldItalic:'Verdana-BoldItalic';

$normalFont:normal;

$orangeColor:#f68421;
$lightOrangeColor:#fcb040;
$blueColor:#015aac;

$whiteColor: #fff;
$blackColor:#000;


$hoverBgColor:#00417d;
$hoverOrange:#f47100;
$greenColor:#19ab5a;
$lightGreenColor:#a6ce39;

/** Paragraph Font Style End **/
