@import 'reset';
@import 'variables';
@import 'mixins';
@import 'header';
@import 'footer';

html {
  position: relative;
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;

  &.stkyFooter {
    height: 100%;
  }
}

body {
  background: $bodyBgColor;
  font-family: $bodyFont;
  font-size: $bodyFontSize;
  font-weight: $bodyWeight;
  color: $bodyFontColor;
  padding-bottom: 117px;
  @include media(desktop) {
    & {
      padding-bottom: 111px;
    }
  };
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $bodyFont;
  font-weight: $bodyWeight;
}

svg.hidden {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
@media screen and (min-width:1100px) {
  .container {
    max-width: 1090px;
  }
}
@include media(desktop) {
  body {
    font-size: 14px;
  }
};

.btn {
  @include btn;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.blue-btn {
  background: $blueColor;
  color: $whiteColor;

  &:hover {
    background: $greenColor;
    color: $whiteColor;
  }

  &.no-action-btn {
    &:focus,
    &:hover {
      background: $blueColor;
      color: $whiteColor;
    }
  }
}

.skewBtn {
  transform: skewX(30deg);
  transform-origin: center;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding: 0;

  span {
    display: block;
    transform: skewX(-30deg);
    transform-origin: center;
    padding: em(3) em(18) em(5);
  }
}

.green-btn {
  background: $greenColor;
  color: $whiteColor;

  &:focus,
  &:hover {
    background: $blueColor;
    color: $whiteColor;
  }

  &.no-action-btn {
    &:focus,
    &:hover {
      background: $greenColor;
      color: $whiteColor;
    }
  }
}

.white-btn {
  background: rgba(255, 255, 255, 0.41);
  color: #000;
  font-size: em(14);
  line-height: 2.5;

  &:focus,
  &:hover {
    background: $blueColor;
    color: $whiteColor;
  }
}

.no-action-btn {
  cursor: default;
}
/** Home page **/
.main {
  display: block;
  position: relative;
  height: calc(100% - 177px);
  @include media(desktop) {
    & {
      height: calc(100% - 147px);
    }
  };

  .game-btn-group {
    position: absolute;
    bottom: 38px;
    left: 0;
    right: 0;
    text-align: center;

    ul {
      display: block;
      width: 100%;
      max-width: 795px;
      margin: 0 auto;
      padding: 0;

      li {
        display: inline-block;
        width: 49%;
        margin-right: 1.2%;
        transform: skewX(30deg);
        transform-origin: center;
        overflow: hidden;
        text-align: center;
        border: solid 6px $whiteColor;
        border-left-width: 8px;
        border-right-width: 8px;

        &:last-child {
          margin-right: 0;
        }

        a {
          display: block;
          text-align: center;
          transform: skewX(-30deg);
          transform-origin: center;
          width: calc(100% + 36px);
          margin-left: -18px;

          &:focus,
          &:hover {
            background: $greenColor;
            color: $whiteColor;
          }
        }
      }
    }
  }

  .container {
    position: relative;
    z-index: 10;
    height: 100%;
  }

  .just-play-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("../images/home-back.png") no-repeat;
    background-position: 0 0;
    background-size: 100% auto;
    z-index: 1;

    img {
      width: 100%;
    }
    @media screen and (max-width:1400px) and (min-height: 890px) {
      & {
        background-position: center;
      }
    }
  }
}
/** Home page end **/
/** Create Your Game Page **/

.section {
  position: relative;
  min-height: calc(100% - 177px);
  @include media(desktop) {
    & {
      min-height: calc(100% - 147px);
    }
  };

  .container {
    position: relative;
    z-index: 5;
  }
}

.search {
  text-align: center;
  margin-bottom: 30px;

  .form-group {
    width: 100%;
    max-width: 465px;
    margin: 0 auto;
    background: $blueColor;
    transform: skewX(30deg);
    transform-origin: center;
    overflow: hidden;
    border: solid 5px $blueColor;
    border-left-width: 8px;
    border-right-width: 8px;

    .form-control {
      width: 100%;
      border: none;
      border-radius: 0;
      transform: skewX(-30deg);
      transform-origin: center;
      width: calc(100% + 30px);
      margin-left: -15px;
      padding: 3px 30px 1px;
      height: 36px;
      font-size: em(24);
      color: #000;
      @include placeholder {
        color: #000;
      };
    }
  }
}

.block-section {
  .elmt-section {
    width: 100%;
    display: block;
    text-align: center;
  }

  &.block-section-with-sidebar {
    .elmt-section,
    .elmt-section-sidebar {
      display: inline-block;
      vertical-align: top;
    }

    .elmt-section-sidebar {
      width: 255px;
    }

    .elmt-section {
      width: calc(100% - 260px);
      padding-right: 22px;
      text-align: right;
    }
  }
}

.custom-btn-group {
  display: block;

  ul {
    display: block;
    margin: 0 auto;
    padding: 0;

    li {
      display: inline-block;
      min-width: 230px;
      margin-right: 15px;
      transform: skewX(30deg);
      transform-origin: center;
      overflow: hidden;
      text-align: center;
      border: solid 6px $whiteColor;
      border-left-width: 8px;
      border-right-width: 8px;

      &:last-child {
        margin-right: 0;
      }

      a {
        display: block;
        text-align: center;
        transform: skewX(-30deg);
        transform-origin: center;
        width: calc(100% + 36px);
        margin-left: -18px;
        font-size: em(14);
        line-height: em(30);
        // & {
        //   background: $greenColor;
        // }
        &.collapsed {
          background: $blueColor;

          &:hover {
            background: $greenColor;
            color: $whiteColor;
          }
        }
      }
    }
  }
}

.step-list {
  display: block;

  ul {
    margin: 0;
    padding: 0;
    display: inline-block;

    &:after {
      content: "";
      position: relative;
      display: block;
      background: $blueColor;
      height: 4px;
      width: calc(100% - 93px);
      top: 1px;
      margin-left: 97px;
      @include media(desktop) {
        & {
          width: calc(100% - 88px);
          margin-left: 92px;
        }
      };
    }

    li {
      display: inline-block;
      position: relative;

      a,
      a:not([href]):not([tabindex]) {
        background: $greenColor;
        transform: skewX(30deg);
        transform-origin: center;
        display: block;
        overflow: hidden;
        margin-right: 5px;
        position: relative;
        z-index: 6;
        font-family: $verdanaBold;
        font-size: em(14);
        color: $whiteColor;
        cursor: default;

        span {
          width: calc(100% + 22px);
          margin-left: -11px;
          transform: skewX(-30deg);
          transform-origin: center;
          padding: em(5) em(18);
          text-align: center;
          font-family: $verdanaBold;
          display: block;
          color: $whiteColor;
        }

        &:focus,
        &:hover {
          background: $greenColor;
          color: $whiteColor;
        }
      }

      &.active {
        padding-top: 11px;
        padding-right: 16px;

        &:before {
          content: "";
          position: absolute;
          top: 0;
          left: -9px;
          right: 21px;
          height: 4px;
          background: $blueColor;
        }

        &:after {
          content: "";
          position: absolute;
          top: -2px;
          right: 7px;
          width: 4px;
          bottom: -14px;
          background: $blueColor;
          transform: rotate(-30deg);
        }

        a,
        a:not([href]):not([tabindex]) {
          background: $lightGreenColor;
          color: $blueColor;

          span {
            color: $blueColor;
          }
        }
      }

      &.passed {
        a {
          background: $lightGreenColor;
          color: $blueColor;
        }
      }
    }
  }
}

.game-select {
  max-width: 465px;
  width: 100%;
  display: inline-block;

  &.full {
    max-width: 100%;
  }

  ul,
  ul.nav-tabs {
    justify-content: center;
    border: none;
    margin-bottom: 25px;

    li,
    li.nav-item {
      display: inline-block;
      margin-right: 20px;
      text-align: center;
      font-family: $verdanaBold;
      font-size: em(14);
      vertical-align: top;

      &:last-child {
        margin-right: 0;
      }

      a,
      a.nav-link {
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        border: none;
        box-shadow: 2px 2px 1px #5c5c5c;
        padding: 10px;
        @include circle(65px);
        margin-bottom: 5px;

        img {
          width: auto;
          max-height: 100%;
        }

        &.active {
          border: none;
        }
      }
    }
  }

  .tab-pane {
    ul {
      margin: 0;
      padding: 0;

      li {
        display: inline-block;
        width: 100%;
        background: $lightGreenColor;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        label {
          font-family: $arial;
          font-size: 14px;
          color: #000;
          font-weight: normal;
          margin: 0;
          display: block;
          text-align: left;
          cursor: pointer;
          padding: em(5) em(60);
          letter-spacing: 0.01em;

          &:focus,
          &:hover {
            color: $blueColor;
          }
        }

        .custom-radio {
          float: right;
          margin-top: 2px;
        }
      }
    }
  }
}

.gray-box,
.green-box {
  position: relative;
  padding: 12px 20px;

  * {
    position: relative;
    z-index: 5;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-bottom-left-radius: 42px;
    border-top-right-radius: 42px;
    z-index: 1;
  }

  .lines {
    position: absolute;
    background: $greenColor;

    &.bottom,
    &.top {
      left: 0;
      right: 0;
      height: 4px;
    }

    &.left,
    &.right {
      top: 0;
      bottom: 0;
      width: 4px;
    }

    &.top {
      top: 0;
      right: 19px;
    }

    &.bottom {
      bottom: 0;
      left: 19px;
    }

    &.left {
      left: 0;
      bottom: 24px;
    }

    &.right {
      right: 0;
      top: 24px;
    }

    &.TopRight {
      top: -2px;
      right: 9px;
      transform: rotate(-40deg);
      width: 4px;
      height: 30px;
    }

    &.Bottomleft {
      bottom: -2px;
      left: 9px;
      transform: rotate(-39deg);
      width: 4px;
      height: 30px;
    }
  }
}

.gray-box {
  .lines {
    background: #bdbdbf;

    &.top {
      top: 0;
      right: 17px;
    }

    &.left {
      left: 0;
      bottom: 0;
    }

    &.bottom {
      bottom: 0;
      left: 0;
    }

    &.TopRight {
      right: 8px;
      top: -1px;
      height: 28px;
      transform: rotate(-33deg);
    }
  }
}

.gallery-list {
  margin: 25px 0 0;
  padding: 9px;
  background: rgba(255,255,255,0.6);

  li {
    display: block;
    list-style: none;
    width: 100%;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    figure {
      @include background;
      display: block;
      padding-bottom: 65%;
    }
  }
}

.custom-radio-group {
  input[type="radio"] {
    display: none;
  }

  .custom-radio {
    display: inline-block;
    @include circle(16px);
    background: #fff;
    cursor: pointer;
    position: relative;
  }

  input[type="radio"]:checked+.custom-radio:after {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    background: $greenColor;
    border-radius: 100%;
  }
}
/** Create Your Game Page End **/
/** Venue Page **/

.venue-page {
  .venue-list {
    width: 100%;
    max-width: 865px;
    margin: 0 auto;
    padding-top: 20px;

    &.venue-single-view {
      max-width: 620px;
    }

    .row {
      margin: 0 -10px;

      div[class*="col-"] {
        padding: 0 10px;
      }
    }

    .venue-item {
      display: block;
      margin-bottom: 10px;

      figure {
        @include background;
        height: 160px;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;

        &:before {
          content: "";
          @include fullCover;
          background: rgba(171, 171, 171, 0.36);
          z-index: 1;
          opacity: 0;
          @include transition;
        }

        .btn {
          position: relative;
          z-index: 5;
          opacity: 0;
          background: $blueColor;
          color: $whiteColor;

          &:focus,
          &:hover {
            background: $greenColor;
            color: $whiteColor;
          }
        }

        &:hover {
          &:before {
            opacity: 1;
          }

          .btn {
            opacity: 1;
          }
        }

        .field-name {
          position: absolute;
          top: 0;
          left: 9px;
          background: $greenColor;
          transform: skewX(30deg);
          transform-origin: center;
          overflow: hidden;
          z-index: 5;

          .field-name-inner {
            width: calc(100% + 22px);
            margin-left: -11px;
            transform: skewX(-30deg);
            transform-origin: center;
            padding: em(5) em(18);
            text-align: center;
            display: block;
          }

          p {
            font-family: $arialBold;
            color: $whiteColor;
            font-size: em(15);
            letter-spacing: 0.02em;
          }
        }

        .field-location {
          z-index: 5;
          position: absolute;
          bottom: 0;
          left: 9px;
          right: 0;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: space-around;

          .field-location-green,
          .field-location-white {
            display: inline-block;
            vertical-align: middle;
            padding: em(5) em(18);
            width: 100%;
            line-height: 1.35;
          }

          .field-location-green {
            transform: skewX(30deg);
            transform-origin: center;
            overflow: hidden;
            background: $greenColor;
            width: 50%;
            margin-right: -15px;
            z-index: 10;

            .field-location-green-inner {
              width: calc(100% + 22px);
              margin-left: -11px;
              transform: skewX(-30deg);
              transform-origin: center;
              text-align: center;
              display: block;

              p {
                font-family: $arialBold;
                color: $whiteColor;
                font-size: em(15);
                letter-spacing: 0.02em;
              }
            }
          }

          .field-location-white {
            background: rgba(255,255,255,0.7);
            text-align: left;
            padding-left: 30px;

            p {
              font-family: $arial;
              color: $blackColor;
              font-size: em(15);
              letter-spacing: 0.02em;
            }
          }
        }
      }

      .field-info {
        display: block;
        background: $whiteColor;

        ul {
          margin: 0;
          padding: 5px 0 0 22px;

          li {
            display: block;
            list-style: none;
            font-family: $arial;
            color: $blackColor;
            font-size: em(15);
            letter-spacing: 0.01em;
            text-align: left;

            div {
              display: inline-block;
              vertical-align: top;
              width: 32%;
              margin-right: -4px;

              &:last-child {
                width: 68%;
                padding-left: 3px;
              }
            }
          }
        }
      }

      .venue-item-map-group {
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        justify-content: flex-start;
        position: relative;
        margin-bottom: 10px;

        .venue-map,
        figure {
          display: block;
          width: 50%;
          margin: 0;
          height: 265px;
        }

        .venue-map {
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;

          iframe {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }

    &.venue-single-view {
      .field-info {
        ul {
          margin: 0;
          padding: 0;
          display: inline-block;
          width: 360px;

          &:after {
            content: "";
            position: relative;
            display: block;
            background: $blueColor;
            height: 4px;
            width: calc(100% - 132px);
            top: 1px;
            margin-left: 130px;
          }

          li {
            display: inline-block;
            position: relative;
            width: 63%;
            vertical-align: bottom;
            font-size: em(13);

            &.title {
              width: 35%;
              padding-top: 11px;
              padding-right: 16px;
              top: -7px;

              &:before {
                content: "";
                position: absolute;
                top: 0;
                left: -9px;
                right: 21px;
                height: 4px;
                background: $blueColor;
              }

              &:after {
                content: "";
                position: absolute;
                top: -2px;
                right: 7px;
                width: 4px;
                bottom: -14px;
                background: $blueColor;
                transform: rotate(-29.7deg);
              }
            }

            a,
            a:not([href]):not([tabindex]) {
              background: $greenColor;
              transform: skewX(30deg);
              transform-origin: center;
              display: block;
              overflow: hidden;
              margin-right: 5px;
              position: relative;
              z-index: 6;
              font-family: $verdanaBold;
              font-size: em(14);
              color: $whiteColor;
              cursor: default;

              span {
                width: calc(100% + 22px);
                margin-left: -11px;
                transform: skewX(-30deg);
                transform-origin: center;
                padding: 0.33333em 1.2em;
                text-align: center;
                font-family: $verdanaBold;
                display: block;
                color: $whiteColor;
              }
            }
          }
        }
      }

      .venue-extra-details {
        .venue-extra-details-tab {
          display: block;
          width: 100%;

          .nav-tabs,
          ul {
            margin: 0 0 0 40px;
            padding: 0;
            display: inline-block;
            width: 345px;
            border: none;

            .nav-item,
            li {
              display: inline-block;
              position: relative;
              width: 49%;
              vertical-align: top;
              border-radius: 0;
              margin-bottom: 8px;

              &.title {
                width: 35%;
                padding-top: 11px;
                padding-right: 16px;
                top: -7px;

                &:before {
                  content: "";
                  position: absolute;
                  top: 0;
                  left: -9px;
                  right: 21px;
                  height: 4px;
                  background: $blueColor;
                }

                &:after {
                  content: "";
                  position: absolute;
                  top: -2px;
                  right: 7px;
                  width: 4px;
                  bottom: -14px;
                  background: $blueColor;
                  transform: rotate(-30deg);
                }
              }

              .nav-link,
              a,
              a:not([href]):not([tabindex]) {
                background: $blueColor;
                transform: skewX(30deg);
                transform-origin: center;
                display: block;
                overflow: hidden;
                margin-right: 5px;
                position: relative;
                z-index: 6;
                font-family: $verdanaBold;
                font-size: em(13);
                color: $whiteColor;
                border-radius: 0;
                padding: 0;
                border: none;

                span {
                  width: calc(100% + 22px);
                  margin-left: -11px;
                  transform: skewX(-30deg);
                  transform-origin: center;
                  padding: em(7) em(18);
                  text-align: center;
                  font-family: $verdanaBold;
                  display: block;
                  color: $whiteColor;
                  @include transition;
                }
              }

              & {
                a.active,
                a:hover {
                  border: none;
                  background: $lightGreenColor;
                  color: $blueColor;

                  span {
                    color: $blueColor;
                  }
                }
              }

              &:last-child {
                margin-right: -42px;
              }
            }
          }
        }

        .tab-title {
          width: 340px;
          margin: 0 auto 30px;
          text-align: left;
          position: relative;

          &:before {
            content: "";
            position: absolute;
            bottom: -9px;
            left: 9px;
            height: 4px;
            width: 194px;
            background: $blueColor;
          }

          &:after {
            content: "";
            position: absolute;
            display: block;
            background: $blueColor;
            height: 4px;
            width: calc(100% - 133px);
            top: 0;
            margin-left: 180px;
          }

          p {
            display: inline-block;
            background: $lightOrangeColor;
            transform: skewX(30deg);
            transform-origin: center;
            margin-right: 5px;
            position: relative;
            z-index: 6;
            font-family: $verdanaBold;
            font-size: em(13);
            color: $blackColor;
            border-radius: 0;
            padding: 0;
            border: none;
            width: 180px;

            strong {
              width: calc(100% + 22px);
              margin-left: -11px;
              transform: skewX(-30deg);
              transform-origin: center;
              padding: em(7) em(30);
              text-align: center;
              font-family: $verdanaBold;
              display: block;
              color: $blackColor;
              @include transition;
            }

            &:after {
              content: "";
              position: absolute;
              top: 0;
              right: -11px;
              width: 4px;
              bottom: -9px;
              background: $blueColor;
              transform: rotate(1.05deg);
              @include media(desktop) {
                & {
                  transform: rotate(-1deg);
                  top: 0;
                  bottom: -9px;
                }
              };
            }
          }
        }

        .venue-product-list {
          ul {
            margin: 0;
            padding: 0;
            justify-content: center;
            border: none;
            margin-bottom: 25px;

            li {
              display: inline-block;
              margin-right: 15px;
              text-align: center;
              font-family: $verdanaBold;
              font-size: em(14);
              vertical-align: top;

              &:last-child {
                margin-right: 0;
              }

              a {
                display: flex;
                align-items: center;
                align-content: center;
                justify-content: center;
                border: none;
                box-shadow: 2px 2px 1px #5c5c5c;
                padding: 10px;
                @include circle(65px);
                margin-bottom: 5px;

                img {
                  width: auto;
                  max-height: 100%;
                }

                &.active {
                  border: none;
                }
              }
            }
          }
        }
      }

      .venue-bottom-btn-group {
        display: block;
        width: 100%;
        margin-top: 15px;

        ul {
          margin: 0;
          padding: 0;

          li {
            display: inline-block;

            a {
              background: $blueColor;
              transform: skewX(30deg);
              transform-origin: center;
              display: block;
              overflow: hidden;
              margin-right: 5px;
              position: relative;
              z-index: 6;
              font-family: $verdanaBold;
              font-size: em(14);
              color: $whiteColor;
              border-radius: 0;
              padding: 0;
              border: none;
              width: 235px;

              span {
                width: calc(100% + 22px);
                margin-left: -11px;
                transform: skewX(-30deg);
                transform-origin: center;
                padding: em(7) em(40);
                text-align: center;
                font-family: $verdanaBold;
                display: block;
                color: $whiteColor;
                @include transition;
              }

              &:focus,
              &:hover {
                background: $greenColor;
                color: $whiteColor;

                span {
                  color: $whiteColor;
                }
              }
            }
          }
        }
      }
    }
  }

  .LocationVenueList {
    display: block;

    ul {
      margin: 0;
      padding: 0;
      display: inline-block;

      li {
        display: inline-block;
        position: relative;

        a {
          background: $greenColor;
          transform: skewX(30deg);
          transform-origin: center;
          display: block;
          overflow: hidden;
          margin-right: 5px;
          position: relative;
          z-index: 6;
          font-family: $verdanaBold;
          font-size: em(14);
          color: $whiteColor;

          span {
            width: calc(100% + 22px);
            margin-left: -11px;
            transform: skewX(-30deg);
            transform-origin: center;
            padding: em(5) em(18);
            text-align: center;
            font-family: $verdanaBold;
            display: block;
          }

          &:focus,
          &:hover {
            background: $lightGreenColor;
            color: $blueColor;
          }
        }

        &.active {
          a {
            background: $lightGreenColor;
            color: $blueColor;
          }
        }
      }
    }
  }
}

.player-image {
  position: absolute;
  bottom: -11px;
  left: 2vw;
  z-index: 1;
  max-width: 22vw;
}
/** Venue Page End **/
/** News Page **/
.news-page {
  article {
    display: block;
    text-align: left;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px 20px 5px;
    background: rgba(255,255,255,0.8);

    .news-title {
      position: relative;
      margin-bottom: 10px;
      height: 30px;

      &:after {
        content: "";
        position: absolute;
        background: $greenColor;
        height: 4px;
        left: 53px;
        right: 0;
        bottom: 0;
      }

      p {
        background: $greenColor;
        transform: skewX(30deg);
        transform-origin: center;
        display: inline-block;
        overflow: hidden;
        margin-right: 5px;
        position: relative;
        z-index: 6;
        font-family: $verdanaBold;
        font-size: em(14);
        color: $whiteColor;
        min-width: 220px;
        min-height: 30px;

        strong {
          width: calc(100% + 22px);
          margin-left: -11px;
          transform: skewX(-30deg);
          transform-origin: center;
          padding: em(5) em(18);
          text-align: center;
          font-family: $verdanaBold;
          display: block;
        }
      }
    }

    .news-cover {
      display: flex;
      align-items: flex-start;
      align-content: flex-start;
      justify-content: space-between;

      div,
      figure {
        display: inline-block;
        vertical-align: top;
      }

      div {
        width: calc(100% - 480px);
        padding: 0 25px 30px;
        position: relative;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        date {
          display: block;
          font-family: $arial;
          font-size: em(14);
        }

        h5 {
          font-family: $arial;
          font-size: em(16);
          line-height: 1.3;
          font-weight: normal;

          big {
            font-size: 21px;
          }

          a {
            color: $bodyFontColor;

            &:focus,
            &:hover {
              color: $greenColor;
            }
          }
        }
      }

      figure {
        width: 480px;
        height: 300px;
        @include background;
        position: relative;

        a {
          display: block;
          position: relative;
          height: 100%;
          width: 100%;

          &:before {
            content: "";
            @include fullCover;
            background: rgba(255,255,255,0.2);
            opacity: 0;
            @include transition;
            z-index: 1;
          }

          &:hover {
            &:before {
              opacity: 1;
            }
          }
        }

        figcaption {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          background: rgba(255,255,255,0.8);
          font-family: $arial;
          font-size: em(12);
          color: $bodyFontColor;
          padding: 8px;
          z-index: 5;
          @include transition;

          &:focus,
          &:hover {
            color: $greenColor;
          }
        }
      }
    }
  }
}
/** News Page End **/
/** Our Service **/

.our-service-page {
  .card {
    max-width: 735px;
    margin: 0 0 30px auto;
    text-align: left;
    border-radius: 0;
    border: none;
    background: transparent;

    .card-header {
      background: transparent;
      padding: 0;
      border: none;
      position: relative;
      min-height: 32px;
      line-height: 0.5;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50px;
        right: 0;
        background: rgba(255,255,255,0.8);
        z-index: 1;
      }

      a {
        position: relative;
        z-index: 5;
        display: block;

        &:after {
          content: "";
          position: absolute;
          background: $greenColor;
          height: 4px;
          left: 53px;
          right: 0;
          bottom: 0;
          @include transition;
        }

        strong {
          background: $greenColor;
          transform: skewX(30deg);
          transform-origin: center;
          display: inline-block;
          overflow: hidden;
          margin-right: 5px;
          position: relative;
          z-index: 6;
          font-family: $verdanaBold;
          font-size: em(14);
          color: $whiteColor;
          min-width: 220px;
          min-height: 32px;
          line-height: 1.5;
          @include transition;

          span {
            width: calc(100% + 22px);
            margin-left: -11px;
            transform: skewX(-30deg);
            transform-origin: center;
            padding: em(5) em(18);
            text-align: center;
            font-family: $verdanaBold;
            display: block;
          }
        }

        &.collapsed {
          &:after {
            background: $blueColor;
          }

          &:hover {
            &:after {
              background: $greenColor;
            }
          }

          strong {
            background: $blueColor;

            &:hover {
              background: $greenColor;
            }
          }
        }
      }
    }

    .card-body {
      background: rgba(255,255,255,0.8);

      .row {
        position: relative;
      }

      p {
        font-family: $arial;
        font-size: em(14);
        line-height: 1.7;
        margin-bottom: 25px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .right-img-group {
        float: right;
        margin-left: 25px;
        margin-bottom: 10px;
        background: transparent;
        padding: 4px 0 0;
        text-align: right;

        img {
          display: block;
          margin-bottom: 15px;
        }
      }

      .how-work-post {
        @include background;
        height: 390px;
        position: relative;

        div {
          position: absolute;
          bottom: 15px;
          left: 15px;
          right: 15px;
          padding: 10px;
          background: rgba(255,255,255,0.7);

          p {
            font-family: $arial;
            font-size: em(14);
            line-height: 1.4;
          }
        }
      }

      .or {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%);

        p {
          background: $greenColor;
          transform: skewX(30deg);
          transform-origin: center;
          display: inline-block;
          overflow: hidden;
          margin-right: 5px;
          position: relative;
          z-index: 6;
          font-family: $verdanaBold;
          font-size: em(14);
          color: $whiteColor;
          min-width: 70px;
          line-height: 1.5;

          span {
            width: calc(100% + 22px);
            margin-left: -11px;
            transform: skewX(-30deg);
            transform-origin: center;
            padding: em(5) em(18) em(7);
            text-align: center;
            font-family: $verdanaBold;
            display: block;
          }
        }
      }

      .booking-process-section {
        display: block;

        .blue-btn {
          font-size: em(14);
          margin-left: 122px;
          min-width: 150px;
          @include media(desktop) {
            margin-left: 119px;
          };
        }

        .booking-process-heading {
          line-height: 0;
          position: relative;
          margin-bottom: 20px;

          &:after {
            content: "";
            position: absolute;
            background: $blueColor;
            height: 4px;
            left: 53px;
            right: 0;
            bottom: 0;
            @include transition;
          }

          a,
          p {
            background: $blueColor;
            transform: skewX(30deg);
            transform-origin: center;
            display: inline-block;
            overflow: hidden;
            margin-right: 5px;
            position: relative;
            z-index: 6;
            font-family: $verdanaBold;
            font-size: em(14);
            color: $whiteColor;
            min-width: 70px;
            line-height: 1.5;
            left: -19px;

            strong {
              width: calc(100% + 22px);
              margin-left: -11px;
              transform: skewX(-30deg);
              transform-origin: center;
              padding: em(5) em(18) em(7);
              text-align: center;
              font-family: $verdanaBold;
              display: block;
            }

            &:hover {
              background: $greenColor;
            }
          }

          &:hover {
            &:after {
              background: $greenColor;
            }

            a {
              background: $greenColor;
            }
          }
        }

        .booking-process-step-sec {
          .booking-step-list {
            display: block;
            position: relative;

            ul {
              margin: 0 0 15px;
              padding: 0 0 18px;
              display: inline-block;
              width: 100%;
              position: relative;

              &:after {
                content: "";
                position: relative;
                display: block;
                background: $blueColor;
                height: 4px;
                width: calc(100% - 112px);
                margin-left: 112px;
                top: 22px;
                @include media(desktop) {
                  & {
                    width: calc(100% - 106px);
                    margin-left: 105px;
                  }
                };
              }

              li {
                display: inline-block;
                position: relative;
                vertical-align: top;
                margin-right: 5px;

                a,
                a:not([href]):not([tabindex]) {
                  @include circle(65px);
                  display: flex;
                  align-items: center;
                  align-content: center;
                  justify-content: center;
                  border: none;
                  box-shadow: 2px 2px 1px #5c5c5c;
                  padding: 8px;
                  margin-bottom: 5px;
                }

                &.title {
                  margin-top: 30px;
                  margin-right: 18px;

                  a,
                  a:not([href]):not([tabindex]) {
                    background: $greenColor;
                    transform: skewX(30deg);
                    transform-origin: center;
                    display: block;
                    margin-right: 5px;
                    position: relative;
                    z-index: 6;
                    font-family: $verdanaBold;
                    font-size: em(14);
                    color: $whiteColor;
                    cursor: default;
                    width: auto;
                    height: auto;
                    border-radius: 0;
                    padding: 0;
                    box-shadow: none;

                    span {
                      width: calc(100% + 22px);
                      margin-left: -11px;
                      transform: skewX(-30deg);
                      transform-origin: center;
                      padding: em(5) em(18);
                      text-align: center;
                      font-family: $verdanaBold;
                      display: block;
                      color: $whiteColor;
                    }

                    &:before {
                      content: "";
                      position: absolute;
                      top: -9px;
                      left: 1px;
                      right: -11px;
                      height: 4px;
                      background: $blueColor;
                    }

                    &:after {
                      content: "";
                      position: absolute;
                      top: -9px;
                      right: -12px;
                      width: 5px;
                      bottom: -37px;
                      background: $blueColor;
                      transform: rotate(-2deg);
                    }

                    a,
                    a:not([href]):not([tabindex]) {
                      background: $lightGreenColor;
                      color: $blueColor;

                      span {
                        color: $blueColor;
                      }
                    }
                  }
                }
              }
            }
          }

          .booking-step-list-text {
            position: absolute;
            bottom: 15px;
            left: 120px;

            p {
              font-family: $arial;
              font-size: em(13);
            }
          }
        }
      }

      .our-sport-section {
        .our-sport-heading {
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: flex-start;

          p {
            background: $orangeColor;
            transform: skewX(30deg);
            transform-origin: center;
            display: block;
            margin-right: 5px;
            position: relative;
            z-index: 6;
            font-family: $verdanaBold;
            font-size: em(14);
            color: $whiteColor;
            cursor: default;
            width: auto;
            height: auto;
            border-radius: 0;
            padding: 0;
            box-shadow: none;

            strong {
              width: calc(100% + 22px);
              margin-left: -11px;
              transform: skewX(-30deg);
              transform-origin: center;
              padding: em(5) em(18);
              text-align: center;
              font-family: $verdanaBold;
              display: block;
              color: $whiteColor;
            }
          }

          .our-sport-icon {
            @include circle(65px);
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;
            border: none;
            box-shadow: 2px 2px 1px #5c5c5c;
            padding: 8px;
            margin-left: 25px;
          }
        }

        article {
          display: block;

          p {
            font-size: em(14);
            margin-bottom: 8px;

            strong {
              font-family: $arialBold;
              font-weight: normal;
            }
          }

          ul {
            margin: 0 0 15px;
            padding: 0;

            li {
              display: inline-block;
              width: 100%;
              position: relative;
              padding-left: 14px;
              font-size: em(14);
              font-family: $arial;
              font-weight: normal;
              margin-bottom: 5px;

              &:before {
                content: "";
                position: absolute;
                top: 8px;
                left: 0;
                width: 4px;
                height: 4px;
                background: $bodyFontColor;
                border-radius: 100%;
              }
            }
          }
        }
      }

      .membership-post {
        background: $greenColor;
        padding: 20px 15px 0;
        display: block;
        text-align: center;

        h4 {
          font-family: $verdanaBold;
          font-size: 21px;
          text-transform: uppercase;
          letter-spacing: 0.02em;
          margin-bottom: 10px;
          color: $whiteColor;
        }

        .membership-pack-detail {
          @include circle(125px);
          background: $whiteColor;
          border: solid 5px #000;
          padding: 25px 20px;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          margin: 0 auto 20px;

          p {
            font-family: $arial;
            font-size: em(13);
            line-height: 1.3;
            color: $bodyFontColor;
          }

          &.gold-color {
            border-color: #d8c777;
          }

          &.diamond-color {
            border-color: #9ae1ff;
          }

          &.platinum-color {
            border-color: #a5b7cd;
          }
        }

        .btn {
          font-size: em(14);
        }
      }
    }
  }
}
/** Our Service End **/
/** My Account **/
.my-account-page {
  .block-section-with-sidebar {
    .elmt-section {
      .my-account-title {
        max-width: 481px;
        margin-left: auto;
        margin-bottom: 30px;
      }

      .green-box {
        max-width: 488px;
        margin-left: auto;
      }
    }
  }

  .gallery-list {
    margin-top: 15px;
  }

  .my-account-title {
    text-align: left;

    &:after {
      content: "";
      position: relative;
      display: block;
      background: $greenColor;
      height: 4px;
      width: calc(100% - 112px);
      margin-left: 112px;
      top: -4px;
      @include media(desktop) {
        & {
          width: calc(100% - 106px);
          margin-left: 105px;
        }
      };
    }

    p {
      background: $greenColor;
      transform: skewX(30deg);
      transform-origin: center;
      display: inline-block;
      margin-right: 5px;
      position: relative;
      z-index: 6;
      font-family: $verdanaBold;
      font-size: em(14);
      color: $whiteColor;
      cursor: default;
      min-width: 150px;
      width: auto;
      height: auto;
      border-radius: 0;
      padding: 0;
      box-shadow: none;

      strong {
        width: calc(100% + 22px);
        margin-left: -11px;
        transform: skewX(-30deg);
        transform-origin: center;
        padding: em(5) em(18);
        text-align: center;
        font-family: $verdanaBold;
        display: block;
        color: $whiteColor;
      }
    }
  }

  .my-account-form {
    padding: 20px;
    text-align: left;

    .my-account-form-inner {
      background: $lightGreenColor;
      overflow: hidden;

      .custom-btn-group {
        position: relative;
        left: -15px;
        bottom: 0;
        margin-top: 20px;
        display: block;
        width: calc(100% + 40px);

        &:before {
          content: "";
          position: absolute;
          left: -10px;
          top: 0;
          bottom: 0;
          background: #fff;
          width: 50px;
        }
      }

      .my-account-form-title {
        position: relative;
        top: 0;
        left: 8px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        p {
          background: $greenColor;
          transform: skewX(30deg);
          transform-origin: center;
          display: inline-block;
          margin-right: 5px;
          position: relative;
          z-index: 6;
          font-family: $verdanaBold;
          font-size: em(14);
          color: $whiteColor;
          cursor: default;
          width: auto;
          height: auto;
          border-radius: 0;
          padding: 0;
          box-shadow: none;

          strong {
            width: calc(100% + 22px);
            margin-left: -11px;
            transform: skewX(-30deg);
            transform-origin: center;
            padding: em(5) em(24);
            text-align: center;
            font-family: $verdanaBold;
            display: block;
            color: $whiteColor;
          }
        }

        .custom-btn-group {
          text-align: right;
          display: inline-block;
          width: auto;
          margin-top: 0;
          margin-right: 1px;

          &:before {
            content: "";
            position: absolute;
            right: -10px;
            left: auto;
            top: 0;
            bottom: 1px;
            background: #fff;
            width: 50px;
          }

          .btn {
            font-size: em(14);
          }
        }
      }

      .my-account-form-body {
        padding: 10px 26px 0 23px;

        .forget-password-link {
          text-align: right;
          margin-bottom: 15px;
          display: block;

          p {
            font-family: $arial;
            font-size: em(14);
            color: $bodyFontColor;
            font-weight: normal;
          }

          a {
            font-family: $arial;
            font-size: em(14);
            color: $bodyFontColor;

            &:hover {
              color: $blueColor;
            }
          }
        }

        .form-body-text {
          background: #fff;
          padding: 5px 10px;
          margin: 10px 0 25px;

          p {
            font-size: em(13);
          }
        }

        .rating-bar {
          background: #fff;
          padding: 4px;
          margin: 0;
          display: flex;
          justify-content: space-between;

          li {
            display: inline-block;
            vertical-align: top;
            width: 32.5%;
            height: 14px;
            background: #fae663;

            &:nth-child(2) {
              background: #f4a040;
            }

            &:nth-child(3) {
              background: #ef5121;
            }
          }
        }

        .social-links {
          a {
            display: inline-block;
            vertical-align: top;
            margin-right: 5px;
          }
        }

        .form-group {
          margin-bottom: 10px;

          p {
            a {
              color: $blueColor;

              &:hover {
                color: #fff;
              }
            }
          }

          .row {
            margin: 0 -7px;
          }

          div[class*="col-"] {
            padding: 0 7px;
          }
        }

        label {
          font-family: $arial;
          font-size: em(14);
          color: $bodyFontColor;
          font-weight: normal;
          margin: 0;

          span {
            font-size: em(13);
          }

          sub {
            display: inline-block;
            width: 6px;
            height: 6px;
            background: #f00;
            bottom: 0;
            vertical-align: middle;
            border-radius: 100%;
            margin-left: 10px;
          }
        }

        .form-control {
          display: block;
          width: 100%;
          height: 22px;
          padding: 2px 5px;
          font-family: $arial;
          font-size: em(14);
          color: $bodyFontColor;
          border-radius: 0;
          box-shadow: none;
          border: none;
        }

        .btn {
          font-size: em(12);
          vertical-align: top;
          margin-right: 10px;
          @include media(desktop) {
            & {
              font-size: em(14);
            }
          };
        }
      }
    }
  }

  .dashboard-nav {
    max-width: 575px;
    margin: 0 auto;

    ul {
      margin: 0 auto 25px;
      padding: 0;
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;

      &:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 5px;
        left: 16px;
        right: -5px;
        background: $greenColor;
        transform: skewX(30deg);
        z-index: 1;
      }

      li {
        background: $blueColor;
        transform: skewX(30deg);
        transform-origin: center;
        display: inline-table;
        overflow: hidden;
        margin-right: 0;
        margin-right: 4px;
        position: relative;
        z-index: 6;

        &:last-child {
          border-right: none;
        }

        a {
          display: block;
          width: calc(100% + 24px);
          margin-left: -12px;
          transform: skewX(-30deg);
          transform-origin: center;
          padding: em(9) em(18) em(11);
          background: $blueColor;
          text-align: center;
          font-family: $arialBold;
          font-size: em(14);
          letter-spacing: 0.03em;
          color: $whiteColor;
          line-height: 1;
          @include media(desktop) {
            & {
              padding: em(9) em(28) em(11);
              font-size: em(13);
            }
          };

          &:focus,
          &:hover {
            background: $lightGreenColor;
            color: $blueColor;
          }
        }

        &.active {
          .nav-link,
          a {
            background: $lightGreenColor;
            color: $blueColor;
          }
        }

        &.title {
          background: $greenColor;
          margin-right: 3px;
          border-right: none;

          a {
            padding: em(15) em(19) em(16);
            text-transform: none;
            background: $greenColor;
            font-family: $arialBold;
            font-size: em(14);
            @include media(desktop) {
              & {
                padding: em(13) em(24) em(15);
              }
            };

            &:focus,
            &:hover {
              background: $greenColor;
              color: $whiteColor;
            }
          }
        }
      }
    }
  }

  .dashboard-content-area {
    max-width: 590px;
    margin: 0 auto;
    text-align: left;
    padding: 24px;

    .top-area {
      padding: 15px 20px;
      background: $greenColor;
      position: relative;
      margin-bottom: 15px;

      .welcome-note {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        figure {
          display: block;
          @include background;
          @include circle(60px);
          margin-right: 15px;
        }

        h5 {
          font-family: $arial;
          font-size: 18px;
          color: #fff;

          small {
            display: block;
            font-size: 12px;
            color: #000;
          }
        }
      }

      .logout-btn {
        position: absolute;
        top: 0;
        right: 0;

        .btn {
          font-size: em(14);
          overflow: visible;
          position: relative;
          right: 8px;

          &:hover {
            background: $lightGreenColor;
            color: $blueColor;
          }
        }

        &:before {
          content: "";
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          width: 50px;
          background: #fff;
          z-index: 1;
        }

        a {
          position: relative;
          z-index: 5;
        }
      }
    }

    .welcome-form {
      padding: 0;

      .my-account-form-inner {
        position: relative;
        padding: 15px 20px 15px 210px;
        min-height: 205px;

        .my-account-form-body {
          padding: 0;
        }
      }

      h4 {
        font-family: $arial;
        font-size: 24px;
        color: $bodyFontColor;
        margin-bottom: 15px;

        small {
          display: block;
          font-size: 12px;
        }
      }

      figure {
        position: absolute;
        @include background;
        @include circle(175px);
        top: 15px;
        left: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          display: block;
          font-family: $arialBold;
          font-size: em(14);
          color: $bodyFontColor;

          &:focus,
          &:hover {
            color: $blueColor;
          }
        }
      }

      .small-blue-btn {
        font-size: em(12);
        position: relative;
        left: 2px;
        @include media(desktop) {
          & {
            font-size: em(13) !important;
          }
        };

        span {
          font-size: em(14);
          padding: em(5) em(12);
        }
      }
    }

    .games-joined-section {
      padding: 0;

      & > ul.nav-tabs {
        margin: 0 auto 5px;
        padding: 0;
        position: relative;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        border: none;
        max-width: 460px;

        &:after {
          content: "";
          position: absolute;
          bottom: -1px;
          height: 5px;
          left: 16px;
          right: -5px;
          background: $greenColor;
          transform: skewX(30deg);
          z-index: 1;
        }

        li.nav-item {
          background: $blueColor;
          transform: skewX(30deg);
          transform-origin: center;
          display: inline-table;
          overflow: hidden;
          margin-right: 0;
          margin-right: 4px;
          position: relative;
          z-index: 6;
          border: none;

          &:last-child {
            border-right: none;
          }

          .nav-link,
          a {
            display: block;
            width: calc(100% + 24px);
            margin-left: -12px;
            transform: skewX(-30deg);
            transform-origin: center;
            padding: em(9) em(18) em(11);
            background: $blueColor;
            text-align: center;
            font-family: $arialBold;
            font-size: em(14);
            letter-spacing: 0.03em;
            color: $whiteColor;
            line-height: 1;
            border: none;
            min-width: 160px;
            @include media(desktop) {
              & {
                padding: em(9) em(28) em(11);
                font-size: em(13);
              }
            };

            &:focus,
            &:hover {
              background: $lightGreenColor;
              color: $blueColor;
            }

            &.active {
              border: none;
              background: $lightGreenColor;
              color: $blueColor;
            }
          }

          &.active {
            .nav-link,
            a {
              background: $lightGreenColor;
              color: $blueColor;
            }
          }

          &.title {
            background: $greenColor;
            margin-right: 3px;
            border-right: none;

            a {
              padding: em(14) em(19) em(16);
              text-transform: none;
              background: $greenColor;
              font-family: $arialBold;
              font-size: em(14);
              @include media(desktop) {
                & {
                  padding: em(13) em(24) em(15);
                }
              };

              &:focus,
              &:hover {
                background: $greenColor;
                color: $whiteColor;
              }
            }
          }
        }
      }

      .tab-content {
        .tab-title {
          display: block;
          text-align: right;
          max-width: 494px;
          margin: 0 auto 10px;

          p {
            background: $lightGreenColor;
            transform: skewX(30deg);
            transform-origin: center;
            display: inline-table;
            overflow: hidden;
            margin-right: 0;
            margin-right: 4px;
            position: relative;
            z-index: 6;
            border: none;
            min-width: 303px;

            &:last-child {
              border-right: none;
            }

            strong {
              display: block;
              width: calc(100% + 24px);
              margin-left: -12px;
              transform: skewX(-30deg);
              transform-origin: center;
              padding: em(9) em(18) em(11);
              background: $lightGreenColor;
              text-align: center;
              font-family: $arialBold;
              font-size: em(14);
              letter-spacing: 0.03em;
              color: $blueColor;
              line-height: 1;
              border: none;
              min-width: 160px;
              @include media(desktop) {
                & {
                  padding: em(9) em(28) em(11);
                  font-size: em(13);
                }
              };
            }
          }
        }

        .gray-box {
          position: relative;
          padding-top: 28px;
        }

        .gray-game-box-inner {
          max-width: 460px;
          margin: 0 auto 15px;
        }

        .pending-btn {
          position: absolute;
          top: 4px;
          right: 7px;

          .btn {
            background: $orangeColor;
            color: #fff;
            font-size: em(11);

            span {
              &:before {
                content: "";
                display: inline-block;
                @include circle(10px);
                vertical-align: middle;
                margin-right: 4px;
                background: #fff;
              }
            }

            &:hover {
              background: $lightGreenColor;
              color: $blueColor;
            }
          }
        }

        .game-time-details {
          ul {
            margin: 0;
            padding: 0;

            li {
              display: block;
              list-style: none;
              position: relative;
              padding-left: 28px;
              margin-bottom: 10px;

              figure {
                position: absolute;
                top: -4px;
                left: 0;
              }
            }
          }
        }

        .game-selection {
          ul,
          ul.nav-tabs {
            margin: 0 0 15px;
            padding: 0;
            border: none;

            &:after {
              display: none;
            }

            .nav-item,
            li {
              background: $blueColor;
              transform: skewX(30deg);
              transform-origin: center;
              display: inline-table;
              overflow: hidden;
              margin-right: 9px;
              position: relative;
              z-index: 6;
              border: none;
              min-width: 1px;
              width: auto;

              .nav-link,
              a {
                display: block;
                width: calc(100% + 24px);
                min-width: 1px;
                margin-left: -12px;
                transform: skewX(-30deg);
                transform-origin: center;
                padding: em(10) em(24);
                background: $blueColor;
                text-align: center;
                font-family: $arialBold;
                font-size: em(14);
                letter-spacing: 0.03em;
                color: $whiteColor;
                line-height: 1;
                border: none;
                @include media(desktop) {
                  & {
                    padding: em(9) em(28) em(11);
                    font-size: em(13);
                  }
                };

                &.active,
                &:focus,
                &:hover {
                  background: $lightGreenColor;
                  color: $blueColor;
                }

                .fa-caret-down {
                  font-size: 31px;
                  display: inline-block;
                  vertical-align: middle;
                  line-height: 0;
                  margin-left: 6px;
                }
              }

              &.active {
                a {
                  border: none;
                  background: $orangeColor;
                  color: #fff;

                  &:focus,
                  &:hover {
                    background: $orangeColor;
                    color: #fff;
                  }
                }
              }
            }
          }
        }

        .remaining-games {
          background: #fff;
          transform: skewX(30deg);
          transform-origin: center;
          display: block;
          overflow: hidden;
          margin-right: 0;
          margin-right: 4px;
          position: relative;
          z-index: 6;
          border: solid 2px #ccc;
          padding: em(8) em(24);

          * {
            transform: skewX(-30deg);
          }
        }

        .games-btn-group {
          text-align: center;

          .btn {
            display: inline-block;
            vertical-align: top;
            min-width: 150px;
            font-size: em(12);
          }
        }

        .field-map {
          position: relative;
          height: 275px;
          display: block;
          width: 102%;
margin-left: -1%;

          .btn {
            position: absolute;
            top: 0;
            left: 8px;
            background: $orangeColor;
            color: #fff;
            z-index: 99;
            font-size: em(13);

          }
          iframe{
            display: block;
            position: relative;
            height: 100%;
            width: 100%;
            z-index: 5;
          }
        }
      }
    }
  }
}
/** My Account End **/
/** Terms & Condition **/
.terms-cover {
  max-width: 620px;
  margin: 0 auto;
  display: block;
}

.terms-inner {
  display: block;
  text-align: left;
  position: relative;
  padding: 25px 25px 40px;
  box-shadow: none;
  border-radius: 3px;
  background: #fff;
  margin: 30px 0;

  p {
    font-size: em(13);
    line-height: 1.5;
    margin-bottom: 18px;

    a {
      color: $bodyFontColor;

      &:hover {
        color: $blueColor;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  ul {
    margin: 18px 0 0;
    padding: 0;

    li {
      display: inline-block;
      width: 100%;
      position: relative;
      padding-left: 10px;
      font-size: em(13);
      line-height: 1.5;
      margin-bottom: 5px;

      &:before {
        content: "";
        position: absolute;
        top: 7px;
        left: 0;
        width: 4px;
        height: 4px;
        border-radius: 100%;
        background: $bodyFontColor;
      }
    }
  }

  &.green-box {
    .lines {
      background: $blueColor;
    }

    .terms-title {
      margin-top: -21px;
      left: -14px;
      position: relative;
      margin-bottom: 15px;

      p {
        background: $greenColor;
        transform: skewX(30deg);
        transform-origin: center;
        display: inline-block;
        margin-right: 5px;
        position: relative;
        z-index: 6;
        font-family: $verdanaBold;
        font-size: em(14);
        color: $whiteColor;
        cursor: default;
        width: auto;
        height: auto;
        border-radius: 0;
        padding: 0;
        box-shadow: none;

        strong {
          width: calc(100% + 22px);
          margin-left: -11px;
          transform: skewX(-30deg);
          transform-origin: center;
          padding: em(5) em(24);
          text-align: center;
          font-family: $verdanaBold;
          display: block;
          color: $whiteColor;
        }
      }

      &.orange {
        p {
          background: $orangeColor;

          strong {
            text-align: left;
            padding: em(5) em(24) em(5) em(30);
          }
        }
      }
    }

    .green-box {
      margin-bottom: 20px;
      overflow: hidden;

      &.no-border {
        overflow: visible;

        .lines {
          background: transparent;
        }
      }

      .terms-title {
        margin-top: -10px;
        left: 0;
        margin-left: -11px;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.termsBtn {
  position: absolute;
  bottom: 0;
  left: 9px;
  font-size: em(14);
}
/** Terms & Condition End **/
/** Custom checkbox **/
.my-custom-checkbox {
  label {
    cursor: pointer;
    position: relative;
    padding-left: 24px;

    a {
      color: $blueColor;

      &:hover {
        color: #fff;
      }
    }
  }

  input[type=checkbox] {
    display: none;
  }

  .custom-checkbox {
    background: #fff;
    border: none;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 2px;
    cursor: pointer;
    border-radius: 0;
    display: inline-block;
    margin-left: 0;
    top: 0;
    position: absolute;
    left: 0;
    text-align: center;
    line-height: 18px;
    @include media(desktop) {
      & {
        line-height: 17px;
      }
    };

    &.circle {
      border-radius: 100%;
    }
  }

  input[type=checkbox]:checked + .custom-checkbox:after {
    content: "\f00c";
    font: normal normal normal 14px/1 FontAwesome;
    color: $greenColor;
  }

  input[type=checkbox]:checked + .custom-checkbox.circle:after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    right: 4px;
    bottom: 4px;
    background: $greenColor;
    border-radius: 100%;
  }
}
/** Custom checkbox End **/
/** PopUp **/
body.open {
  overflow: hidden;
}

.popup {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
  z-index: 9999;
  overflow: hidden;
  overflow-y: scroll;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    margin-right: -4px;
    vertical-align: middle;
  }

  .popup-inner {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    position: relative;
    max-width: 580px;
    width: 90%;
    padding: 25px 25px 40px;
    box-shadow: none;
    border-radius: 3px;
    background: transparent;
    margin: 30px 0;

    p {
      font-size: em(13);
      line-height: 1.5;
      margin-bottom: 18px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    ul {
      margin: 18px 0 0;
      padding: 0;

      li {
        display: inline-block;
        width: 100%;
        position: relative;
        padding-left: 10px;
        font-size: em(13);
        line-height: 1.5;
        margin-bottom: 5px;

        &:before {
          content: "";
          position: absolute;
          top: 7px;
          left: 0;
          width: 4px;
          height: 4px;
          border-radius: 100%;
          background: $bodyFontColor;
        }
      }
    }

    &.green-box {
      .lines {
        background: $blueColor;
      }

      .popup-title {
        margin-top: -21px;
        left: -14px;
        position: relative;
        margin-bottom: 15px;

        p {
          background: $greenColor;
          transform: skewX(30deg);
          transform-origin: center;
          display: inline-block;
          margin-right: 5px;
          position: relative;
          z-index: 6;
          font-family: $verdanaBold;
          font-size: em(14);
          color: $whiteColor;
          cursor: default;
          width: auto;
          height: auto;
          border-radius: 0;
          padding: 0;
          box-shadow: none;

          strong {
            width: calc(100% + 22px);
            margin-left: -11px;
            transform: skewX(-30deg);
            transform-origin: center;
            padding: em(5) em(24);
            text-align: center;
            font-family: $verdanaBold;
            display: block;
            color: $whiteColor;
          }
        }

        &.orange {
          p {
            background: $orangeColor;

            strong {
              text-align: left;
              padding: em(5) em(24) em(5) em(30);
            }
          }
        }
      }

      .green-box {
        margin-bottom: 20px;
        overflow: hidden;

        .popup-title {
          margin-top: -10px;
          left: 0;
          margin-left: -11px;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }

  .popupBtn {
    position: absolute;
    bottom: 0;
    left: 9px;
    font-size: em(14);
  }

  .popup-close {
    width: 34px;
    height: 34px;
    padding-top: 4px;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    -webkit-transform: translate(50%, -50%);
    transform: translate(50%, -50%);
    border-radius: 100%;
    background: transparent;
    border: solid 4px #808080;

    &:after,
    &:before {
      content: "";
      position: absolute;
      top: 11px;
      left: 5px;
      height: 4px;
      width: 16px;
      border-radius: 30px;
      background: #808080;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:after {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    &:hover {
      -webkit-transform: translate(50%, -50%) rotate(180deg);
      transform: translate(50%, -50%) rotate(180deg);
      background: #f00;
      text-decoration: none;
      border-color: #f00;

      &:after,
      &:before {
        background: #fff;
      }
    }
  }
}
/** PopUp End **/
/** Pages Background **/
.both-side-background {
  background: url('../images/blue-green-dots-bg.png'), url("../images/red-blue-green-bg.png");
  background-repeat: no-repeat;
  background-position: left bottom, right bottom;
  padding-bottom: 60px;
}

.ribbon-background {
  background: url("../images/ribbon-red-blue-green-background.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 105% auto;
  padding-bottom: 60px;
}

.multi-background {
  background: url("../images/multi-background.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;
  padding-bottom: 60px;
}

.terms-background {
  background: url("../images/terms-background.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 100% auto;
  padding-bottom: 60px;
}
